/* calendar design */
.calender-area {
  position: absolute;
}
.react-calendar {
  border: none;
  box-shadow: 0 0 10px grey;
  width: 100%;
  top: 200px;
}
.react-calendar__navigation {
  height: 100px;
}
.react-calendar__month-view__weekdays abbr[data-original-title],
.react-calendar__month-view__weekdays abbr[title],
.react-calendar__month-view__days__day,
.react-calendar__month-view__weekdays,
.react-calendar__month-view__days__day--weekend {
  text-decoration: none;
  color: #686868;
  text-transform: unset;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #eaeaea;
}
.react-calendar__tile--active {
  background-image: linear-gradient(75deg, #19d3ae, #0fcfec);
  border-radius: 5px;
  color: #ffffff;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  font-size: 3em;
  opacity: 0.2;
}
.react-calendar__tile {
  padding: 1em 0.5em;
}

/* Seat Layout */
.movie-layout {
  flex-wrap: nowrap;
}
.col-md-2 {
  padding: 0px 10px;
}
.col-md-6 {
  padding: 0px 25px;
}
.seat {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 0px 0px;
  margin: 3px;
  cursor: pointer;
}
.seat:hover {
  transform: scale(1.1);
}
.row {
  justify-content: center;
  align-items: flex-start;
}
.seat-grey {
  background-color: #ddd;
}
.seat-black {
  background-color: black;
}
.seat-undefined {
  cursor: auto;
  pointer-events: none;
}
.movie-complex p {
  text-align: center;
  font-size: 20px;
}
.movie-selector {
  width: 250px;
}
